name: Build multiplatform docker image

permissions:
  id-token: write
  packages: write
  contents: write
  attestations: write
  pull-requests: write

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_call:

jobs:
  version:
    name: determine version to publish
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.release.outputs.version }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: install rust
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - id: release
        run: echo "version=$(cargo pkgid --manifest-path Cargo.toml | cut -d '@' -f2)" >> "$GITHUB_OUTPUT"

  create-release:
    runs-on: ubuntu-latest
    name: create release
    needs: version
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: create github release
        run: gh release create "v${VERSION}" --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ needs.version.outputs.version }}

  build-application:
    needs: [version, create-release]
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v6

      - name: Build Docker container and push it to GitHub Packages
        uses: lojoh/build-and-push-multi-platform-docker-images-action@2.0
        with:
          docker-args: |
            ReleaseVersion=${{ needs.version.outputs.version }}
          docker-context: .
          docker-file: Dockerfile
          docker-registry: ghcr.io/lsfera
          github-token: ${{ secrets.PAT }}
          image-name: pokedex
          tag: ${{ needs.version.outputs.version }}
          platform: linux/arm64,linux/amd64
